h1{
  text-weight: bold;
}
.sal{
  color: red;
  text-size: 32px;
}
.jj{
  color: red;
  text-size: 32px;
}
.compare{
  color: red;
  text-size: 32px;
}
.title{
  text-weight: bold;
  text-size: 48px;
}
p{
  text-size: 16px;
}
